/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/zivuMPNHKNSs.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/Vo4DcyPtUIlw.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/1By3M7Dc2Vsq.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/qRpLEZ8UD5xV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/JfFEMaEu5OnX.otf') format('truetype');
}